{{#if(tag)}}
<div class="wrap-hd clearfix">
  <div class="title-bar">
    <h2 class="title">标签“{{tag}}”的文章列表</h2>
  </div>
</div>
<ul class="article-list">
  {{#for(item in list)}}
  <li class="list-item">
    <div class="hd">
      <h3 class="title">
        <a href="/pages/article/detail?id={{item.id}}&type={{item.type}}">{{item.title}}</a>
      </h3>
      <div class="meta">
        <span class="date">{{item.createdAt}}</span>
        <span class="divide"></span>
        <a class="tag" href="/pages/tags/list?tag={{item.tag}}">{{item.tag}}</a>
      </div>
    </div>
    <div class="bd markdown-body">
      {{{item.content|format}}}
    </div>
    <div class="ft">
      <a href="/pages/article/detail?id={{item.id}}&type={{item.type}}" class="continue-reading">Read more →</a>
    </div>
  </li>
  {{/for}}
</ul>
{{/if}}
{{^if(tag)}}
<div class="wrap-hd clearfix">
  <div class="title-bar">
    <h2 class="title">标签</h2>
  </div>
</div>
<div class="tag-list">
  <ul class="clearfix">
    {{#for(item in list)}}
    <li>
      <a href="/pages/tags/list?tag={{item.tagName}}">
        <span class="count">{{item.count}}</span>
        {{item.tagName}}
      </a>
    </li>
    {{/for}}
  </ul>
</div>
{{/if}}