<ul class="article-list" bx-name="codeprettify" bx-path="components/codeprettify/" bx-tmpl="list" bx-datakey="list">
  {{#list}}
  <li class="list-item">
    <div class="hd">
      <h3 class="title">
        <a href="/pages/article/detail?id={{id}}&type={{type}}">{{title}}</a>
      </h3>
      <div class="meta">
        <span class="date">{{createdAt}}</span>
        <span class="divide"></span>
        <a class="tag" href="/pages/tags/list?tag={{tag}}">{{tag}}</a>
      </div>
    </div>
    <div class="bd markdown-body">
      {{{content}}}
    </div>
    <div class="ft">
      <a href="/pages/article/detail?id={{id}}&type={{type}}" class="continue-reading">Read more →</a>
    </div>
  </li>
  {{/list}}
  {{^list}}
  <li class="no-data">
    嗯，什么都还没写~
  </li>
  {{/list}}
</ul>